<launch>

    <machine name="uav_" address="192.168.10.190" password="000000"
    <arg name="server" default="192.168.10.1"/>

    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
        <rosparam subst_value="true">
            server: $(arg server)

            port: 3883

            update_frequency: 100.0

            frame_id: world

            use_server_time: false

            broadcast_tf: true

            refresh_tracker_frequency: 1.0

            frame_id: world

            use_server_time: false

            broadcast_tf: true

            refresh_tracker_frequency: 1.0
        </rosparam>
        <remap from="vrpn_client_node/fyp_li2/pose" to="/mavros/vision_pose/pose" />
    </node>

</launch>
